:root {
    --primary-color : white;
    --gray-theme : gray;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.--grey-theme {
    background-color: gray;
}

.--align {
    padding: 10px 15px 0 10px;
}

.white-text {
    color: var(--primary-color);
}

.cursor {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

@media all and (min-width : 1000px) {
    .--align {
        padding: 0 70px 0 70px;
    }
}

